* {
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
  color: #333;
  line-height: 1.6;
}

header {
  background: linear-gradient(to right, #00b4db, #0083b0);
  padding: 0px;
  text-align: left;
  margin: 0px;
  position: sticky;
  z-index: 10;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
.form-section label {
  justify-content: center;
  color: #00b4db;
  font-size: 18px;
  display: block;
}

form {
  background-color: white;
  width: 100%;
  max-width: 450px;
  padding: 25px;
  border: 2px solid black;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

::placeholder {
  color: #94a3b8;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 6px;
  margin-bottom: 10px;
}

input:required {
  border: 2px solid #2575fc;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 20px;
}

button {
  background-color: #2575fc;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #6a11cb;
  transform: scale(1.03);
}

button:active {
  transform: scale(0.98);
}

footer {
  background: gray;
  color: white;
  text-align: justify;
  padding: 15px;
}
@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  form {
    padding: 15px;
  }

  button {
    font-size: 14px;
  }
}
