* {
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right, #00b4db, #0083b0);
  padding: 5px;
  margin: 0px;
  text-align: left;
  text-transform: capitalize;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
h2 {
  color: brown;
  font-size: 30px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}

.gallery div {
  background: #dbeafe;
  padding: 40px;
  text-align: center;
  transition: transform 0.3s;
}

.gallery div:hover {
  transform: scale(1.05);
  background: #619be2;
  cursor: pointer;
}

footer {
  background: gray;
  color: white;
  text-align: center;
  padding: 15px;
}
@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .gallery div {
    font-size: 16px;
  }
}
